
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-helvetica: "Helvetica Neue", sans-serif;


  --color-primary: #1487FC;
  --color-secondary: #F9FAFB;
  --color-tertiary: #198754;
  --color-quaternary: ##DC3545;
  --color-bg-footer: #E8F3FF;


  --text-font-22px: 1.375rem;
  --text-font-20px: 1.25rem;
  --text-font-18px: 1.125rem;
  --text-font-16px: 1rem;
  --text-font-14px: 0.875rem;
  --text-font-12px: 0.75rem;
  

  --tracking-4: 0.04em; /* ≈ 4% of font size */
  --container-width: 1200px;

}
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
 
  a{
    @apply no-underline;
  }
}

@layer container{
  .container{
    max-width: var(--container-width);
    margin: 0 auto;
  }
}